.main {
  justify-content: center;
  padding: 1rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_CardContainer {
  background-color: white;
  padding: 1.5rem 1.9rem;
  border: 1px solid;
  border-radius: 20px;
  max-height: 450px;
  overflow-y: auto;
}
li {
  list-style-type: none;
}
.list {
  display: flex;
}
.inputcont {
  position: relative;
}
.inputuser {
  padding: 1.2rem;
  border: 1px solid white;
  border-radius: 3rem;
  background-color: aqua;
  padding-right: 9rem;
  width: 14rem;
}
.add {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  background-color: rgba(216, 38, 38, 0.747);
  height: 100%;
  border: 1px solid;
  border-radius: 3rem;
  width: 8rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

h2 {
  color: rgb(8, 8, 77);
  text-decoration: none;
}

input[type='checkbox'] {
  width: 1.3rem;
  margin-right: 0.5rem;
  cursor: pointer;
  margin-bottom: 0rem;
  text-decoration: dotted;
}
input:focus {
  outline: none;
}
.check {
  width: 2rem;
  margin-top: 1.3rem;
  height: 2rem;
}
.headcont {
  display: flex;
  gap: 0.4rem;
}
.garb {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-top: 0.7rem;
  position: absolute;
  top: 0%;
  right: 5%;
}

.mainimg {
  width: 200px;
}

.listcont {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
span {
  display: flex;
}
#error {
  display: none;
  color: red;
  font-size: 0.7rem;
  position: absolute;
  top: 79%;
  right: 71%;
}

.errorcont {
  position: relative;
}
#content {
  text-decoration-line: none;
  color: black;
}
